@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  background: linear-gradient(135deg, #0d6efd, #4dabf7);
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(13, 110, 253, 0.4);
  }

}
